<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ZooManager.Properties.Settings.PractiseDBConnectionString"
            connectionString="Data Source=Spidy;Initial Catalog=PractiseDB;Persist Security Info=True;User ID=sa;Password=9427146095"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>